{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content%}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Tour Details: </h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 order-md-first offset-3">
                <p class="text-muted mt-3 text-center text-md-center">
                    <span class="small"><a href="{% url 'tours' %}"> Back to tours page </a>
                </p>
            </div>
        </div>
        <div class="card col-12 col-md-8 offset-2 rounded-3">
            <div class="row">
                <div class="col text-center mt-3">
                    <h3 class="logo-font text-info "> {{tour.tour_friendly_name }}</h3>
                </div>
            </div>
            <!--First Row of 3-->
            <div class="row">
                <!--image box-->
                <div class="col-12 col-md-6 col-lg-6 my-1">
                    {% if tour.tour_image %}
                        <a href="" target="blank">
                            <img class="card-img-top img-fluid" src="{{ tour.tour_image.url }}" alt="{{ tour.tour_name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ tour.tour_friendly_name }}">
                        </a>
                    {% endif %}
                </div>
                <!--Preferences-->
                <div class="col-12 col-md-6 col-lg-6 my-2">
                    <p>
                        <strong>Select your preferences:</strong>
                    </p>
                    <form method="POST" action="">
                        <div class="row">
                            <div class="col-4 my-2">
                                <strong>Passengers:</strong>
                            </div>
                            <div class="col-6 my-2">
                                <input class="form-control" type="number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 my-2">
                                <strong>Car type:</strong>
                            </div>
                            <div class="col-6 my-2">
                                <input class="form-control" type="select">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 my-2">
                                <strong>Date and Time:</strong>
                            </div>
                            <div class="col-6 my-2">
                                <input class="form-control" data-provide="datepicker" type="date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 my-2">
                                <strong>Departure address:</strong>
                            </div>
                            <div class="col-6 my-2">
                                <input class="form-control rounded" type="text">
                            </div>
                        </div>
                    </form>   
                </div>
            </div>
            <!--Second Row of 3-->
            <div class="row">
                <!--Categorisation-->
                <div class="col-12 col-md-6 col-lg-6 my-1">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold text-danger"></p>
                                {% if tour.tour_theme %}
                                    <small class="text-dark"><i class="fas fa-pen mr-1 text-dark"></i>{{ tour.tour_theme }}</small>
                                {% else %}
                                    <small class="text-muted"></small>
                                {% endif %}
                        </div>
                        <div class="col-3">
                            <p class="lead mb-0 text-left font-weight-bold text-danger"></p>
                            {% if tour.tour_city %}
                                <small class="text-dark"><i class="fas fa-university mr-1 text-dark"></i>{{ tour.tour_city }}</small>
                            {% else %}
                                <small class="text-muted"></small>
                            {% endif %}
                        </div>
                        <div class="col-3">
                            <p class="lead mb-0 text-left font-weight-bold text-danger"></p>
                            {% if tour.tour_duration %}
                                <small class="text-dark"><i class="fas fa-clock mr-1 text-dark"></i>{{ tour.tour_duration }} hrs</small>
                            {% else %}
                                <small class="text-muted"></small>
                            {% endif %}
                        </div>
                        <div class="col-3">
                            <p class="lead mb-0 text-left font-weight-bold text-danger"></p>
                            {% if tour.tour_distance %}
                                <small class="text-dark"><i class="fas fa-road mr-1 text-dark"></i>{{ tour.tour_distance }} km</small>
                            {% else %}
                                <small class="text-muted"></small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if tour.tour_ranking %}
                                <small class="text-info"><i class="fas fa-thumbs-up mr-1 text-info"></i>{{ tour.tour_ranking }} / 5.00</small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col my-2">
                            <p class="lead mb-0 text-left font-weight-bold text-danger">Price: €{{ tour.tour_price }}</p>
                        </div>
                    </div>
                </div>
                <!--Buy button-->
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-lg btn-outline-danger offset-3" type="button" href="">Add the tour to trip
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    
                  </div>
            </div>
            <!--Third Row of 3-->
            <div class="row">
                <!--Description-->
                <div class="col-12 col-md-6 col-lg-6 my-1">
                    <p class=""> 
                        <strong>Tour Description:</strong>  
                    </p>
                    {{tour.tour_description }}
                </div>
                <!--Reviews -->
                <div class="col-12 col-md-6 col-lg-6 my-1">
                    <p class="">
                        <strong>Reviews:  </strong>                          
                    </p>
                    {% for item in tour_reviews %}
                        <p class="p-2 bg-review rounded border-1 text-italic text-black">
                            <i class="fas fa-quote-right "></i> 
                                {{ item }}
                            <i class="fas fa-quote-left"></i> 
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
