<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item ">By City</a>
                <a href="" class="dropdown-item">By Theme</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">All Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By City
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Rome</a>
                <a href="" class="dropdown-item">Florence</a>
                <a href="" class="dropdown-item">Multicity</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Theme
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Ancient</a>
                <a href="" class="dropdown-item">Art</a>
                <a href="" class="dropdown-item">Churches</a>
                <a href="" class="dropdown-item">Food & Wine</a>
                <a href="" class="dropdown-item">Shopping</a>
                <a href="" class="dropdown-item">Resorts</a>
                <a href="" class="dropdown-item">Kids</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Exclusive</a>
                <a href="" class="dropdown-item">Summer sale</a>
                <a href="" class="dropdown-item">Winter sale</a>
            </div>
        </li>
    </ul>
</div>